<%- include ('partials/header', { heroText: "All Projects" }) %>
<%- include ('partials/viewModifiers') %>
	<div class="container projects-list">
		<%- include ('partials/possibleProjectsList', { possibleProjects: projects, truncatedDescriptions, defaultHidden: false, listId: "currentPage" }) %>
		<%- include ('partials/possibleProjectsList', { possibleProjects: previousPageOfProjects, truncatedDescriptions, defaultHidden: true, listId: "previousPage" }) %>
		<%- include ('partials/possibleProjectsList', { possibleProjects: nextPageOfProjects, truncatedDescriptions, defaultHidden: true, listId: "nextPage" }) %>
	</div>
	<div class="pagination">
		<% if(page > 1){ %>
			<a id="prev-page" class="primary-button" href="/projects/page/<%= page - 1 %>">&lt;</a>
			<a class="primary-button desktop-only" href="/projects/page/1">1</a>
			<span class="desktop-only">...</span>
		<% } %>

		<% if(page + 3 <= lastPage ) { %>
			<% Array.from({length: 3}, (_, i) => page + (i + 1)).map(a => { %>
				<a class="primary-button desktop-only" href="/projects/page/<%= a %>"><%= a %></a>
			<% }); %>
		<% } %>

		<% if(page != lastPage){ %>
			<span class="desktop-only">...</span>
			<a class="primary-button desktop-only" href="/projects/page/<%= lastPage %>"><%= lastPage %></a>
			<a id="next-page" class="primary-button" href="/projects/page/<%=page + 1%>">&gt;</a>
		<% } %>
	</div>
	<div class="experimental pagination">
		<p>Experimental "No Refresh" Pagination</p>
		<p class="small">Works best on pages 2 through n-1</p>
		<% if(page > 1){ %>
			<a class="primary-button" onclick='showPreviousPage()'>PREV</a>
		<% } %>
		<% if(page != lastPage){ %>
			<a class="primary-button" onclick='showNextPage()'>NEXT</a>
		<% } %>
	</div>
<%- include ('partials/footer') %>