<%- include ('partials/header') %>
	<div class="container projects-list">
		<ul>
			<% projects.map(({id, name, summary, owner_id}, index) => { %>
				<li>
					<a href="/detail/id/<%= id %>">
						<div class="project shift-box">
							<div class="left-top padded">
								<h3><%= name %></h3>
								<small>ID: <%= id %></small>
								<small>Owner ID: <%= owner_id %></small>
							</div>
							<div class="right-bottom padded">
								<p class="description">
									<%= truncatedDescriptions[index] %>
								</p>
							</div>
						</div>
					</a>
				</li>
			<% }); %>
		</ul>
	</div>
	<div class="pagination">
		<% if(page > 1){ %>
			<a href="/projects/page/<%= page - 1 %>">&lt;</a>
			<a class="desktop-only" href="/projects/page/1">1</a>
			<span class="desktop-only">...</span>
		<% } %>

		<% if(page + 3 <= lastPage ) { %>
			<% Array.from({length: 3}, (_, i) => page + (i + 1)).map(a => { %>
				<a class="desktop-only" href="/projects/page/<%= a %>"><%= a %></a>
			<% }); %>
		<% } %>

		<% if(page != lastPage){ %>
			<span class="desktop-only">...</span>
			<a class="desktop-only" href="/projects/page/<%= lastPage %>"><%= lastPage %></a>
			<a href="/projects/page/<%=page + 1%>">&gt;</a>
		<% } %>
	</div>
<%- include ('partials/footer') %>