<%- include ('partials/header', { heroText: "All Projects" }) %>
	<script type="text/javascript">
		function showElement(elementId){
			document.getElementById(elementId).classList.remove("hidden")
		}

		function hideElement(elementId){
			document.getElementById(elementId).classList.add("hidden")
		}
	</script>
	<div class="container projects-list">
		<ul>
			<% projects.map(({id, name, summary, owner_id}, index) => { %>
				<li>
					<a href="/detail/id/<%= id %>">
						<div class="project shift-box">
							<div class="left-top padded">
								<h3 
									onmouseover='showElement("tooltip-<%= index %>")' 
									onmouseout='hideElement("tooltip-<%= index %>")'>
										<%= name %>
								</h3>
								<div id="tooltip-<%= index %>" class="tooltip hidden">
									<h4><%= name %></h4>
									<p>Owned by <%= owner_id %></p>
								</div>
								<small>ID: <%= id %></small>
								<small>Owner ID: <%= owner_id %></small>
							</div>
							<div class="right-bottom padded">
								<p class="description">
									<%= truncatedDescriptions[index] %>
								</p>
							</div>
						</div>
					</a>
				</li>
			<% }); %>
		</ul>
	</div>
	<div class="pagination">
		<% if(page > 1){ %>
			<a class="primary-button" href="/projects/page/<%= page - 1 %>">&lt;</a>
			<a class="primary-button desktop-only" href="/projects/page/1">1</a>
			<span class="desktop-only">...</span>
		<% } %>

		<% if(page + 3 <= lastPage ) { %>
			<% Array.from({length: 3}, (_, i) => page + (i + 1)).map(a => { %>
				<a class="primary-button desktop-only" href="/projects/page/<%= a %>"><%= a %></a>
			<% }); %>
		<% } %>

		<% if(page != lastPage){ %>
			<span class="desktop-only">...</span>
			<a class="primary-button desktop-only" href="/projects/page/<%= lastPage %>"><%= lastPage %></a>
			<a class="primary-button" href="/projects/page/<%=page + 1%>">&gt;</a>
		<% } %>
	</div>
<%- include ('partials/footer') %>